<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.STATUS_BAR"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name="cosine.boat.H2CO3Application"
        android:allowBackup="true"
        android:allowNativeHeapPointerTagging="false"
        android:appCategory="game"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_h2o2_low_px"
        android:isGame="true"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.H2CO3"
        tools:targetApi="r">
        <activity
            android:name=".launcher.ui.CustomKeyBoardActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/title_activity_custom_key_board" />
        <activity
            android:name=".launcher.ui.LogcatActivity"
            android:label="@string/log_title"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".launcher.ui.SettingsActivity"
            android:label="@string/settings" />
        <activity
            android:name=".launcher.ui.ModsActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".launcher.ui.InstructionActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".launcher.ui.TerminalActivity"
            android:label="@string/menu_terminal"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".launcher.ui.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".launcher.ui.MainActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.H2CO3"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".launcher.ui.VanillaActivity"
            android:label="Minecraft"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".launcher.ui.InitialActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".launcher.launch.boat.BoatClientActivity"
            android:alwaysRetainTaskState="false"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|orientation|screenLayout|uiMode|screenSize|navigation"
            android:excludeFromRecents="false"
            android:launchMode="singleInstance"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/FullScreen">
            <meta-data
                android:name="android.app.lib_name"
                android:value="boat" />
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="org.koishi.launcher.h2co3.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
        <activity
            android:name="com.cainiaohh.module.h2co3customkeyboard.gamecontroller.ckb.CustomizeKeyboardEditorActivity"
            android:configChanges="screenSize|keyboard|navigation|orientation|keyboardHidden"
            android:screenOrientation="userLandscape" />
    </application>

</manifest>